.mainBody {
  height: 90vh;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.headerTitle {
  font-size: 35px;
  font-weight: bold;
  width: 90vw;
  text-align: left;
}

.authorList {
  height: 100%;
  flex: 1;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: scroll;
}

.authorList::-webkit-scrollbar {
  display: none;
}

.loadingLogo {
  margin-top: 160px;
  height: 150px;
  -webkit-animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
